body {
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 1em;
  color: #333333;
  background: #EEEEEE;
  margin: 0px;
  padding: 0px;
}

#header {
  color: #FFFFFF;
  width: 100%;
  background: #333333;
  height: 100px;
}

#footer {
  color: #AAAAAA;
  width: 100%;
  background: #FFFFFF;
  height: 100px;
}
